@import 'base/reset';
@import 'abstracts/variables';

.container {
  width: 840px;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 1rem;
}

body {
  background-color: $main-bg-color;
}

@import 'components/button';
@import 'components/keyboard';