@import 'base/reset';
@import 'abstracts/variables';

.container {
  width: 840px;
  margin: 100px auto;
}

body {
  background-color: $main-bg-color;
}

@import 'components/button';
@import 'components/keyboard';
@import 'components/textarea';