.button {
  color: $letter-color;
  font-size: 1rem;
  font-weight: 700;

  padding: 0 1em;
  min-width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: $button-color;
  border: none;
  border-radius: 5px;

  // transition: 0.1s all;
  transition:  0.1s all;
  cursor: pointer;

  // .button__main-symbol
  // &__main-symbol {}

  // .button__shift-symbol
  &__shift-symbol {
    position: absolute;
    top: 9%;
    left: 13%;

    // font-size: 1.7rem;
    font-size: 0.7rem;
  }

  &_func {
    background-color: $func-button-color;
  }

  &:hover {
    transform: scale(1.05);
    background-color: $letter-color;
    border: 1px solid black;
    color: $button-color;
  }

  &_active,
  &:active {
    transform: translateY(2px);
    background-color: $active-button-color;
    color: $letter-color;
  }
}
