.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  
  &__row {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    column-gap: 0.5em;
  }
}